@import "../../../../scss/variables.scss";
.social_box {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 22px 0;
  height: 55px;
  .icon {
    cursor: pointer;
    color: $blue;
    border: 1px solid $green;
    padding: 4px;
    font-size: 4.2rem;
    height: 75px;
    transition: 0.2s ease-in-out;
  }
  .twitter {
    margin-bottom: 2px;
  }
  .facebook:hover {
    color: #4267b2;
    background-color: mix($blue, $yellow, 15%);
    border: none;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    margin-bottom: 10px;
  }
  .twitter:hover {
    border: none;
    color: #1da1f2;
    border-radius: 50%;
    background-color: mix($blue, $yellow, 15%);
    transition: 0.2s ease-in-out;
    margin-bottom: 10px;
  }
  .instagram:hover {
    border-radius: 50%;
    color: mix(#8a3ab9, #e95950);
    background-color: mix($blue, $yellow, 15%);
    transition: 0.2s ease-in-out;
    border: none;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .social_box {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .icon {
      font-size: 4.2rem;
      width: 120px;
      height: 80px;
      transition: 0.3s ease-in-out;
    }
    .facebook:hover {
      border: 1px solid $yellow;
      border: none;

      transition: 0.3s ease-in-out;
    }
    .twitter:hover {
      border: none;
      transition: 0.3s ease-in-out;
    }
    .instagram:hover {
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      border: none;
    }
  }
}
