@import "./variables";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.facebook:hover {
  color: #4267b2;
  transition: 0.2s ease-in-out;
}
.twitter:hover {
  color: #1da1f2;
  transition: 0.2s ease-in-out;
}
.instagram:hover {
  color: mix(#8a3ab9, #e95950);
  transition: 0.2s ease-in-out;
}

.link {
  text-decoration: none;
  margin: 0 10px;
  color: mix($blue, $green);
  cursor: pointer;
  border-bottom: 0.5px solid $yellow;
}
.active {
  border-bottom: 0.5px solid $green;
}

.linkHead {
  cursor: pointer;
  text-decoration: none;
}

.general_btn {
  border: 1px solid #75aadb;
  text-decoration: none;
  width: 40%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 8px 0;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  color: #75aadb;

  transition: 0.2s ease-in-out;
  font-weight: 700;
  text-align: center;
}
.general_btn:hover {
  background-color: $yellow;
  border: 1px solid $green;
  color: $blue;
  transition: 0.2s ease-in-out;
}
