$green: rgb(0, 156, 59);
$yellow: rgb(255, 223, 0);
$blue: rgb(0, 39, 118);
$white: rgb(246, 244, 244);

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadowm: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
